*.egg-info
*.py?
.idea
.installed.cfg
bin/
bower_components/
build/
coverage/
develop-eggs/
devsrc/
include/
lib/
lib64
mockup/docs/
nixenv/
node_modules/
parts/
pip-selfcheck.json
sauce_connect.log*
stamp-bower
stamp-npm
test-results.xml
var/
